[2017-12-19 18:54] BullyWiiPlaza opened #2 "Add support for IDA 7.x"
Can you please implement support for IDA 7.x? The readme states that it's not supported, yet. Here is the porting guide you may want to follow: https://www.hex-rays.com/products/ida/7.0/docs/api70_porting_guide.shtml

Thank you.

[2017-12-19 19:24] BullyWiiPlaza opened #3 "PowerPC architecture with custom plugin refuses to decompile"
Using `IDA Pro 6.8`, I'm trying to decompile a `PowerPC` architecture function in an `ELF` file format with the plugin but when I press `CTRL + D` I get the following error:
![image](https://user-images.githubusercontent.com/7620135/34174604-d385cb18-e4f9-11e7-8ce6-3352b5067d9f.png)
`IDA Pro` can disassemble everything just fine and recognizes the architecture correctly as well. Can you guys pleas

[2017-12-20 06:08] s3rvac commented on #3
Thank you for the report.
* Can you please share with us the input binary file that you are trying to decompile?
* Can you try decompiling [this PowerPC/ELF file](https://github.com/avast-tl/retdec-idaplugin/files/1574385/hello-ppc-elf-gcc.zip) (after unziping)? I was able to decompile it without any problems using the 0.4 version of the IDA plugin.

[2017-12-20 11:10] PeterMatula commented on #2
We will get to it sooner or later, but not right away.

If anyone is willing to give it a shot, go for it. It is free for all, until I assign this ticket to myself.

[2017-12-20 22:37] BullyWiiPlaza commented on #3
Your example binary works fine. However, I realized this is a bit of a special case after all but I can make you replicate it easily. It's therefore no surprise that it's not working as of now.

First, download the following plugin and place it in the `IDA` `plugins` folder: http://www.mediafire.com/file/6i9tr6dev117mxt
The source code can be found here: https://github.com/aerosoul94/ida_game_elf_

[2017-12-21 06:22] s3rvac commented on #3
Yes, the binary file that you provided is indeed decompilable outside of IDA via `decompile.sh`. @PeterMatula, we will need to tweak the checks in the IDA plugin so the file is also decompilable from there.

[2017-12-25 13:02] kiritowch opened #4 "Some questions about Selective Decompilation"
Does it have the ability to set the only mode, the same as in the API. For example, sel_decomp_ranges='0x81089BE0-0x81089D70', sel_decomp_decoding='only'

Because my file is too big, I need this only mode, I don't know whether I can do this in IDA, thank you!

https://retdec.com/api/docs/guides.html#what-to-decode

[2017-12-30 16:57] messi89 commented on #2
Hi guys

is there any update to support IDA 7.x ?

[2017-12-30 18:49] Manouchehri commented on #4
Yes. https://github.com/avast-tl/retdec-idaplugin/blob/c4d90268bf49d78e62c7267125553e2559e8fb45/src/idaplugin/decompiler.cpp#L431

See the `Configuration` section in the user guide.

[2018-01-03 11:35] PeterMatula commented on #4
Yes, as @Manouchehri wrote, `--select-decode-only` should be used in local decompilation mode each time some range is selected. This should speed up the decompilation process. Does it work for you, or is it too slow even with this? If it is slow, is API decompilation faster? Can you paste here the local decompilation command (should be printed in IDA log window).

[2018-01-03 11:47] PeterMatula opened #6 "Decode and decompile only the selected function"
At the moment, when user selects a function to decompile, range of this function, as well as ranges of all functions which call it, and ranges of functions called from it, are decoded and decompiled. Only the selected function is displayed.

This was done to provide `retdec` with more context than just one selected function. It might be useful for parameter reconstruction, etc. However, decompilat

[2018-01-03 12:02] PeterMatula opened #7 "Use control flow info from IDA"
At the moment, when user selects a function to decompile, `retdec` is provided with function's range and a JSON generated from IDA database with metainformation to use. The range is decoded using `retdec` decoder, without any hints on control flow from IDA - just as if `retdec` was used without IDA plugin.

Although `retdec` decoder has an ambition to be as good as IDA, it is not there yet. Moreov

[2018-01-03 12:15] PeterMatula opened #8 "Automatically install or produce release packages containing retdec"
Right now, if users/developers want to use `retdec-idaplugin` in local decompilation mode with `retdec`, they need to either get the pre-compiled `retdec` package, or build and install it themselves. Then whey need to configure `retdec-idaplugin` in order to use local decompilation.

This could be made much easier - `retdec-idaplugin` could take care of everything:
- CMake could take option that w

[2018-01-03 12:25] PeterMatula opened #9 "Conditional API decompilation support"
Right now, `retdec-idaplugin` is always built with both local and API decompilation modes. In order to build API mode, `retdec-idaplugin` needs a bunch of libraries (see _IDA plugin libraries_ in [Requirements](https://github.com/avast-tl/retdec-idaplugin#requirements)). It is an extra work to get them (especially if our pre-compiled packages do not work for you). This work is useless, if you are

[2018-01-03 15:09] #3 closed, assigned to PeterMatula

[2018-01-03 15:10] PeterMatula commented on #3
`retdec-idaplugin` tries to check if the input being processed can be decompiled before it sends it to `retdec`. Problem in this case is the following file format check:
[code]

Even though input file is ELF, because `wiiu` loader was used, IDA has `f_LOADER` value in `inf.filetype`.

I tried to solve it intelligently - find out the real file type and check if it is supported. I failed (see below)

[2018-01-03 15:13] PeterMatula commented on #3
Normally I would write a regression test to check that this is solved, but since this needs a custom loader plugin, it would not be a good idea - everyone running regression tests would need it, or the test would fail.

However, it works for me. I don't know, if you are able to build the `master` and check it on your machine. If not, you will have to wait for the next release. If it won't work, re

[2018-01-14 08:36] s3rvac opened #10 "Statically linked code is not removed when decompiling through the IDA plugin"
When the attached PE binary file is decompiled through the IDA plugin, statically linked code is not removed, but when I decompile it directly through `decompile.sh`, it is removed.

## Input and output files

The input and both output C files can be downloaded [here](https://github.com/avast-tl/retdec-idaplugin/files/1629147/input-and-outputs.zip).

## Steps to reproduce

1. Decompile the input b

[2018-01-14 08:50] s3rvac opened #11 "Add support for decompilation of Mach-O files"
[RetDec](https://github.com/avast-tl/retdec) has a basic support for decompilation of Mach-O files. However, when I try to decompile a Mach-O file via the IDA plugin (e.g. [this one](https://github.com/avast-tl/retdec-regression-tests/raw/master/features/macho/hello.x86.clang.macho)), the plugin fails with the following error:
[code]
IDA loads the input Mach-O file just fine. It would be nice if t

[2018-01-14 10:02] s3rvac opened #12 "Decompilation output is shown in a wrong window when clicking inside Output window"
## Steps to reproduce

1. Open IDA.
2. Select any file. Answer _OK_ or _Yes_ to all questions (if any).
3. Click anywhere inside the input file in the `IDA View-A` window.
4. Start decompilation.
5. Right after the decompilation is started, click inside the `Output window`.

## Behavior

After the decompilation finishes, its output is shown in a window right next to the `Output window`:

![idaplug

[2018-01-14 21:19] kirschju commented on #2
Hi all,

I've invested some hours to port the plugin to the new IDA API. The code compiles when including IDA SDK 7.0, but I am unable to link the resulting objects, because I'm lacking the 64-bit version of the [support package](https://github.com/avast-tl/retdec-idaplugin/releases/download/v0.4/retdec-idaplugin-v0.4-win.zip). I can compile the 64 bit versions of some of the libraries contained i

[2018-01-16 17:28] PeterMatula commented on #2
@kirschju The library naming in this case is not the best. `retdec.lib` is not from the main RetDec repository, but it is this: https://github.com/s3rvac/retdec-cpp. You can try it with it, maybe you will succeed. I will try to implement `retdec-idaplugin`'s CMake build system in a way that would get and build all the support libraries automatically. Pre-built support package would therefore not b

[2018-01-29 16:22] PeterMatula opened #13 "Do not check versions on exact equivalence"
Right now, we perform version checks for API decompilations to make sure, the latest version of RetDec idaplugin is used. We check versions by `==` (exact equivalence). Change it that only versions lesser than the latest one cause error. Therefore, if the latest official version is `0.3`, if we try to use version `0.2`, error is thrown, but if we try `0.4` (next version, used by developer), it is

[2018-01-29 16:28] PeterMatula opened #14 "Support of DOL and REL file formats (Gamecube Wii)"
Email from one of our users:

_Following up on our twitter exchange I will provide you with some sample files. I would like the ReDec IDA plugin to work on the dol and rel file formats, both of which can be found on Nintendo consoles from Gamecube-Wii U. The processor is PowerPC Big Endian. Dol is simply a stripped elf file while rel is designed to function like a dynamic link library (DLL). The b

[2018-01-29 16:39] PeterMatula opened #15 "Decompilation of object or rebased files"
Decompilation via RetDec idaplugin gets into troubles if IDA has the file mapped on a different address than RetDec. In such a case, all metadata that come from IDA in config database are wrong when applied on image loaded by RetDec's image loader library.

This happens for object files. E.g. [hello.zip](https://github.com/avast-tl/retdec-idaplugin/files/1674373/hello.zip), where IDA has `main()`

[2018-01-29 16:43] PeterMatula opened #16 "Improve output quality of real malware samples"
Investigate problems in these samples. solve them, and add regression tests: [samples.zip](https://github.com/avast-tl/retdec-idaplugin/files/1674405/samples.zip)(MALWARE!).

`89442e72227b209b7fcbe467a6b202c1788b850bdfbb52fa22c7762a45b1737c`
- Strings in function calls:
[code]
- Overall quality.

`20AE07CC27965D330314776C16E8FAA3FA021AB7E4C6FFC86A3593AC4010BDFE.dat`:
- Empty functions bodies: `Win

[2018-01-29 18:14] PeterMatula commented on #16
Another sample:
https://www.virustotal.com/sk/file/f3dca53cbf676b77b8bbf1a9e4f052dc17356be27f0c1c23357385dcc096efb3/analysis/

[2018-01-30 16:47] Alexey-Danilchenko commented on #7
I think it needs to go one step further. Currently retdec is only useful as IDA plugin if it can decode file itself - IDA however has a lot of loaders that can take care of complicated binary formats and process something like firmwares even. Ideally retdec should be used what it is designed for - decompilation  and use as mush as possible from IDA. I.e. for function decompilation it should be pos

[2018-01-31 09:27] PeterMatula commented on #7
@Alexey-Danilchenko
1. It is true, that it would be the best if RetDec could do a high quality decompilation of a given binary data chunk. That would allow IDA plugin to send any data + metadata to RetDec - it would no longer matter what was the underlying source and whether RetDec can handle this source on its own. This is something to aim for. Exporting control flow metadata from IDA is a good f

[2018-01-31 11:58] Alexey-Danilchenko commented on #7
**@PeterMatula**

I see (2) is certainly a blocker for this. Perhaps the approach to explore here is for plugin to pass a binary block to decompile with the metadata? For example if the function is selected for decompilation, pass the function body as bytecodes (that is accessible from IDA API and since it was loaded is not file format specific) together with any symbolic information (variables, t

[2018-02-06 18:17] PeterMatula commented on #16
Visual Basic sample: [Black-TS.zip](https://github.com/avast-tl/retdec-idaplugin/files/1700290/Black-TS.zip)

[2018-03-01 12:58] Zibri commented on #2
please support ida 7.0 !

[2018-03-04 16:16] Karaulov opened #17 "Not works. IDA 6.8 plugin"
I just try to use it for test ( download retdec and this plugin, and ida 6.8, for test! )

Got error:
---------------------------
Warning
---------------------------
Decompilation is not properly configured.
Either decompile.sh must be in system PATH,
or path to decompile.sh must be provided in configuration menu,
or API key and URL must be set.
---------------------------
OK
---------------------

[2018-03-04 18:24] Karaulov commented on #17
I tried to set "win" in config.sh (29 line).

Now get error :
![1km5x8p 1](https://user-images.githubusercontent.com/6445336/36948908-70bb5bf4-1ff2-11e8-83ba-bc394399a3d9.png)

[2018-03-04 19:40] Karaulov commented on #17
[code]

[2018-03-04 20:44] #17 closed

[2018-03-04 20:47] Karaulov commented on #17
problem in cygwin ,need instal msys2.

How to use retdec without ida?)))  (Any freeware gui for retdec ?)

[2018-03-05 04:02] s3rvac commented on #17
Yes. Although the current `master` branch of RetDec can run on Cygwin, we suggest using MSYS2. The recommendation to use MSYS2 is also in the build and use instructions.

Apart from the IDA plugin, there is no GUI, so you will have to run it from an MSYS2 terminal ([instructions](https://github.com/avast-tl/retdec#windows)).

[2018-03-05 07:16] Karaulov opened #18 "Retargetable Decompiler version 0.4 cannot decompile this input file"
---------------------------
Warning
---------------------------
Retargetable Decompiler version 0.4 cannot decompile this input file.

---------------------------
OK
---------------------------

I got this error, input file without extension. But MacOs .

[2018-03-05 18:14] 0xBEEEF commented on #2
It would be especially cool if the plugin would run with the IDA 7.0 freeware! Then you would have the perfect combination.

[2018-03-06 09:59] PeterMatula commented on #2
@0xBEEEF I think there is no reason why a 7.0 plugin (once we have it) would not run in freeware IDA. So yes, when we rewrite it from SDK 6.6 to 7.x, it should work.

[2018-06-07 07:16] PeterMatula commented on #13
API decompilation is no longer supported. There is no version check.

[2018-06-07 07:16] #13 closed, assigned to PeterMatula

[2018-06-07 07:19] PeterMatula commented on #9
API decompilation is no longer supported. There is no need for IDA plugin support libraries.

[2018-06-07 07:19] #9 closed, assigned to PeterMatula

[2018-06-07 07:25] PeterMatula opened #19 "Reggression tests do not work with plugin for IDA 7.x"
Since update from IDA 6.x to IDA 7.x, plugin's regression tests have stopped working. This concerns only plugin developers, not regular users.

[2018-06-07 07:32] PeterMatula opened #20 "Terminating plugin's thread in IDA does not terminate spawned decompilation process"
It is not enough to kill (`qthread_kill()`) decompilation thread using IDA SDK API. The decompilation process (`retdec-decompiler.sh` execution) which was created is not terminated.

I tried to use SDK's API for processes, but no luck so far. The matter is more compilated, because `retdec-decompiler.sh` itself launches other processes.

[2018-06-07 07:36] PeterMatula opened #21 "Create 64-bit address space version of RetDec IDA plugin"
Right now, we have only one plugin version for 32-bit address space (which is itself a 64-bit library, see [explanation](https://www.hex-rays.com/products/ida/7.0/docs/api70_porting_guide.shtml)). It should be possible to also create a 64-bit address space version, which would for now decompile only 32-bit binaries (until we add support for some 64-bit architectures).

[2018-06-07 07:41] PeterMatula opened #22 "Try to get the plugin working in IDA freeware 7.0"
The plugin only works in a regular IDA 7.x, not the freeware version. It looks like there are some obstacles that may or may not be solvable:
- https://github.com/yegord/snowman/issues/158
- https://reverseengineering.stackexchange.com/questions/17632/do-ida-python-plugins-work-with-ida-free-or-only-ida-pro

If possible, solve them and create a plugin version working in IDA freeware 7.0.

[2018-06-07 07:44] PeterMatula commented on #2
Fixed.

The current implementation is only a rewrite to IDA 7.0 SDK. No improvements. We dropped remote decompilation through API. There are several new tickets with improvements and bugs.

The new version does not work in freeware IDA 7.0 (see #22).

[2018-06-07 07:44] #2 closed, assigned to nobody

[2018-06-09 13:13] ntzwq opened #23 "There is no "retdec-idaplugin.sln" file。"
There is no "retdec-idaplugin.sln" file。

[2018-06-11 07:45] PeterMatula commented on #23
Well, this is not a very detailed issue description - more like an example how an issue should not look like.

But anyway, where do you expect `retdec-idaplugin.sln` to be? Did you run `cmake .. -DIDA_SDK_DIR=<path> -G<generator>`? `retdec-idaplugin.sln` is not in the repository, it gets created by `cmake` in the `build` directory. If you run `cmake` and it is not there, then this indeed is a prob

[2018-06-13 06:52] ntzwq commented on #23
TKS

[2018-06-13 11:37] #23 closed, assigned to nobody

[2018-06-19 23:56] say2 opened #24 "loading of config failed: entryPoint must be an uint64"
current plugin make idb.json's entryPoint component in hex string like "entryPoint" : "0x400c00",
but retdec only recognize uint64

RUN: /c/Users/Home/Desktop/b/retdec-v3.0-windows-64b/retdec/bin/fileinfo -c C:/Users/Home/Desktop/b/login.cgi.c.json --similarity C:/Users/Home/Desktop/b/login.cgi --no-hashes=all --crypto /c/Users/Home/Desktop/b/retdec-v3.0-windows-64b/retdec/bin/../share/generic/yar

[2018-06-20 21:42] BigJim opened #25 "Windows install fails"
Despite following the Windows install instructions to the letter in the users guide, the plugin will not install properly apparently. Installed Python 3.6 followed by pip3 install of Pygments.
When invoked it asks for a non-existent ".sh" file (which obviously wouldn't run on Windows anyhow). Added Python 3.6 path to my PATH variable (making it the one and only default Python binary) and that didn

[2018-06-21 10:56] PeterMatula commented on #25
Thanks for this issue. Our documentation was not clear about this. At the moment, you also need to install standalone RetDec in order to use RetDec IDA plugin. I updated both the user guide and v0.5 release. The instructions should be a bit more clear now.

In future, we would like to get rid of bash scripts, use purely Python, and distribute RetDec itself together with RetDec IDA plugin.

[2018-06-21 10:56] #25 closed, assigned to PeterMatula

[2018-06-21 13:11] PeterMatula commented on #24
You are probably using plugin version 0.5 with RetDec version 3.0. You must use version 3.1. I have updated user guide (Section 2.2) to make this clear.

In future, we would like to distribute RetDec itself together with RetDec IDA plugin, so it will be easier for the users.

[2018-06-21 13:11] #24 closed, assigned to nobody

[2018-06-21 14:55] PeterMatula commented on #12
Rewrite to IDA SDK 7.0 did not help. This is still happening.

I tried to solve it, but I did not succeed. I tried to play with different `WOPN_` combinations, different parent widgets for `create_custom_viewer()`, and looked for related functionality in `kernwin.hpp`, but nothing helped.

I have no more ideas, maybe someone can help.

[2018-06-23 14:04] BullyWiiPlaza opened #26 ""Decompilation is not properly configured" but it actually is"
I downloaded [`retdec 3.1` for Windows](https://github.com/avast-tl/retdec/releases) and unpacked it to `C:\retdec\bin`. I also added `C:\retdec\bin` to the `PATH` system variable. When I open a `cmd` shell and type `retdec-decompile.sh` the command is found and works as expected.

Furthermore I downloaded the `IDA` plugin `0.5` from [here](https://github.com/avast-tl/retdec-idaplugin/releases/tag

[2018-06-25 10:37] PeterMatula commented on #26
Yes, it seems you are doing everything right - so it it hard to say, what is wrong. Lets try two things:
1. Can you try it with some binary that does not use custom IDA loader? This should not cause the described problem, but who knows. Just try it with as simple binary as possible.
2. If it still does not work (probable), can you try running RetDec from `cmd.exe` the same way the plugin does (it

[2018-06-25 14:42] PeterMatula commented on #19
Fixed in https://github.com/avast-tl/retdec-idaplugin/commit/0984724ae6a47b5d586d0e05910fbe861ad3d5e9.

[2018-06-25 14:42] #19 closed, assigned to nobody

[2018-06-25 16:34] BullyWiiPlaza commented on #26
1. Using a simple binary (`32-bit Windows DLL`) in `IDA` also fails with the same problem (but I don't get the custom loader warning)
2. From `cmd.exe` it works but I just used `retdec-decompiler.sh simple-binary.dll` instead of the prepended `sh` since the `sh` command is not installed and it doesn't seem to be needed though.

With `win-bash`:
[code]
I might be doing the later wrong but since I'm

[2018-07-03 11:28] Tiemichael commented on #26
I am facing the exactly same issue as outlined in the 1st post.
(Windows 10/64, most recent IDA Pro, retdec and plugin, following all instructions from the Github pages)

`C:\Users\Michael>sh  retdec-decompiler.sh test.exe
/c/retdec/bin/retdec-decompiler.sh: line 23: ./retdec-utils.sh: No such file or directory`

`C:\Users\Michael>bash retdec-decompiler.sh test.exe
/c/retdec/bin/retdec-decompiler.

[2018-07-06 03:08] Maroc-OS commented on #11
The plugin actually is a mass and need a lot of work, it works sometimes and give strange errors must of times. like decompiling a PE library says always function must be selected. am on macOS btw.

For Mach-O i started working on it and ida crash's with exception start is greater then end.

followed the problem and found that it comes from :

`void ConfigGenerator::generateFunctions()
`
fnc->end_

[2018-07-06 03:14] Maroc-OS commented on #26
Fixed here : https://github.com/avast-tl/retdec-idaplugin/pull/27/commits/c195e41bd8bd027894e7e29cf27dea1196c5c80d pull request here : https://github.com/avast-tl/retdec-idaplugin/pull/27

[2018-07-07 00:08] Maroc-OS commented on #21
I think i have a working version of it. just need to be sure it's working great. i can attach two plugins for macOS 64bit normal version and ea64 one built with `cmake .. -DIDA_SDK_DIR=$IDA_SDK_DIR -DEA64=1` if you wanna analyse and test them.

[2018-07-07 20:37] Maroc-OS commented on #20
The code that handle this is not working good, it hangs sometimes don’t know why maybe when force closing ida pro. The code try to kill the running process blindly, and should use some kind of ways to detect if it’s really working not only look for variable if true or false.

[2018-07-07 20:40] Maroc-OS commented on #11
Sorry I found that I was using normal plugin as ida pro 64 bit ☝️.

Support for ARM is there already. Should I send a patch? I saw my pull requests even not reviewed or commented.

[2018-07-10 11:59] PeterMatula commented on #26
I think the problem is the missing `sh` (i.e. missing MSYS2). Right now, it is a bit tricky to set up everything correctly. Section 2.2 of plugin's user guide says you need a properly installed standalone RetDec. The [instructions](https://github.com/avast-tl/retdec/blob/3eaa0eaf9b27bee605786702784c4a1cecea3bc6/README.md#installation-and-use) to follow say to install and configure MSYS2 on Windows

[2018-07-10 12:02] PeterMatula commented on #21
I don't really have a macOS machine to test on. But if it works on macOS, it should work on Linux and Windows as well? What did you have to do to get it working? I did not research this much, so at the moment, I have no idea if you just build it differently, or you need to change the code as well.

[2018-07-10 12:05] PeterMatula commented on #20
This will probably be easier to solve once bash scripts are rewritten to Python.

[2018-07-10 12:36] Tiemichael commented on #26
Thanks for your reply.
Not sure if I understand correctly, but when I use 'MSYS2' a MSYS-shell opens.
C:\msys64\mingw64\bin;C:\msys64;C:\msys64\usr\bin; are included in my path.

[2018-07-10 16:11] BullyWiiPlaza commented on #26
After installing `MYS2` and adding `C:\msys64\usr\bin;C:\msys64;C:\msys64\usr\bin` to the `PATH` it works now for me now. I also agree that `Python` would be better.

[2018-07-10 16:11] #26 closed, assigned to nobody

[2018-07-11 04:30] Maroc-OS commented on #21
i have updated the build system to support that and really quick changes on code.

[2018-07-11 11:44] HarukaMa opened #29 "Unable to execute decompiler on Mac"
I tried to run the plugin on Mac. Plugin load seems okay but when I tried to ^D on a function, I only get the error:

```Loading of output C file FAILED.```

The log stops at `[RetDec info]   :	Running the decompilation command ...`, and manually executing the printed command above works and produces the expected output file.

I've tried to add some debug code, and it seems that `std::system()` ca

[2018-07-11 14:56] BullyWiiPlaza opened #30 "Custom loader plugin decompilation output is nonsense"
First all of all, kudos for the custom loader plugin support and `IDA 7.x` support but I'm still not happy with the decompilation output.

Given a function with the following assembly code:

[code]

If I run the `retdec` decompiler on it, it produces the following output:
[code]

This is false because:
The function does not define a return value (`r3` is not set) hence the return type is `void`. F

[2018-07-12 19:24] Maroc-OS commented on #29
Because bash script doesn't work great on macOS.

Try python branch.

BTW: what is the output of :

`/usr/local/bin/retdec-decompiler.sh --help`

[2018-07-13 17:47] HarukaMa commented on #29
[code]

It seems `bash-to-python` branch is actually behind `master` though.

[2018-07-16 08:24] PeterMatula commented on #29
Looks like another problem with Bash. We can try to get back to this after Bash is replaced with Python implementation (soon I hope) - hopefully, it will be fixed.

[2018-07-20 02:45] b1ngoo opened #32 "Decompilation is not properly configured."
I configured it according to the instructions of user_guide:
[code]
This is my Python3 environment:
[code]
![image](https://user-images.githubusercontent.com/32893618/42980529-5916c5cc-8c0a-11e8-92db-8111213797f7.png)
Then,  I copy retdec.dll to the IDA’s plugin directory:
![image](https://user-images.githubusercontent.com/32893618/42980428-cb6e0938-8c09-11e8-931b-3f4772ae8e29.png)
But when using

[2018-07-27 08:27] PeterMatula commented on #32
Did you also install RetDec itself? Can you run `bash retdec-decompiler.sh --help` from you command line? See section _2.2 RetDec_ in `user_guide.pdf` the latest release.

[2018-08-09 12:15] PeterMatula commented on #20
Fixed in 3534c6ad56029551aabe01db03c5523f8f3769ce, 726e7012f693cf995441214162435fc647c0cd4c, and d2a299815bc5f0cc4f66d8b266e3037cc7e3fc36.

[2018-08-09 12:15] #20 closed, assigned to nobody

[2018-08-09 12:22] #4 closed, assigned to nobody

[2018-08-09 12:30] #6 closed, assigned to PeterMatula

[2018-08-20 05:36] s3rvac commented on #8
Just a note so we do not forget: Users will still need to install Python 3 (+ [pygments](http://pygments.org/)) as IDA ships only with Python 2 and RetDec requires Python 3 to run.

[2018-08-22 08:24] PeterMatula commented on #29
Can you try it now after we got rid of Bash?

[2018-08-22 08:25] PeterMatula commented on #32
Can you try it now with a new release? We got rid of Bash.

[2018-08-28 17:50] HarukaMa commented on #29
It worked, but only after changing `/usr/bin/python` to point that to python 3. It seems when we are in `RdGlobalInfo::isDecompilerInSpecifiedPath` the `pythonCmd` is `python`, `initPythonCommand` was not being run to set it to `python3`. I think `/usr/bin` normally could not be modified because of SIP, so the plugin would stuck to python 2 which will fail to run the decompiler.

[2018-08-29 08:12] PeterMatula commented on #29
`pythonCmd` has no default value, `initPythonCommand()` should always run in plugin initialization and set it up. If it does not, it is a bug. But I think it is very likely it did run and set up `pythonCmd` to `python`.
* How did you figure out it did not run?
* Does `python3 --version` or `py -3 --version`  work in your command line? If not, `python` is used.

[2018-08-29 20:16] HarukaMa commented on #29
I added some info message output in corresponding functions, and they are not printed out. Will try to confirm that later.

python3 works on my command line.

[2018-08-30 07:19] HarukaMa commented on #29
Sorry if the email of this reply have different content, I missed one output. Please read the new version below.

I made some very crude logs to check if they were run:

[code]

Only `Z` is present in the log, so it didn't find the python3 installation (maybe because of the binary location?)

[code]

[2018-08-30 08:59] PeterMatula commented on #29
Ok, so `initPythonCommand()` is run, but it does not successfully execute `python3 --version` even though you can execute it from the terminal.

Is it possible that the PATH is somehow modified in order to find `python3` only in your terminal but not globally - so the mechanism in plugin does not see it?

First, can you try to modify `initPythonCommand()` like this?
[code]
If this works then `pyth

[2018-08-30 10:54] HarukaMa commented on #29
After testing I've found that it is caused by global PATH. For applications launched outside of terminals, the PATH needs to be changed using `launchctl setenv PATH ...` to make applications see them. After setting the PATH in `launchctl` the plugin could find `python3` successfully.

[2018-08-30 15:35] PeterMatula commented on #29
So, in 05c7c47 i did the following:
* Python interpreter-related checks are not done at plugin initialization. For unknown reason it was crashing IDA on Windows (on Linux, it was ok).
* Python interpreter-related checks are done before each decompilation.
   * Cons: More checks, more external command invocations from plugin. Should not be a problem.
   * Pros: No crashes - safer (I never know what

[2018-08-30 15:35] #29 closed, assigned to nobody

[2018-08-31 23:55] NiceneNerd commented on #32
I'm getting this error on the new version (RetDec 3.2 and the latest plugin) using `retdec-decompiler.py`. It's in my PATH and runs fine from command line.

[2018-09-01 05:32] JorgeTebruski commented on #32
Same problem reproduced.

[2018-09-01 11:31] NiceneNerd commented on #32
Possibly relevant: IDAPython uses 2.7, but when I try to run RetDec outside of IDA it only works with Python 3. If I try to test `retdec-decompiler.py` using the `execfile` in the IDA Python console, it gives me a syntax error that is definitely due to changes between 2.7 and 3.

[code]

[2018-09-02 13:55] ftk-sostupid commented on #32
I got the same problem. I got an "syntax error" in retdec-utils.py when I run the retdec-decompiler.py with windows cmd.
So I can't config the plugin correctly.
But when I run it in pycharm, it's ok.
By the way, the error code is Line 292 of retdec-utils.py.
`print('Error: %s' % error, file=sys.stderr)`

[2018-09-03 01:30] NiceneNerd commented on #32
@ftk-sostupid I got that error when using Python 2.7 but not Python 3.

[2018-09-03 02:30] ftk-sostupid commented on #32
@NiceneNerd I got that in both python2.7 and python3.6...

[2018-09-03 06:42] PeterMatula commented on #32
@ftk-sostupid What does the error say? I don't use pycharm, so can you elaborate on what does _"But when I run it in pycharm, it's ok."_ mean? Does `retdec-decompiler.py` work when you somehow run it from pycharm, but does not when you execute it from cmd? As @NiceneNerd said, this looks like you are running it in Python 2.7.

[2018-09-03 06:44] PeterMatula commented on #32
@NiceneNerd Does it work when you don't rely on `PATH` and configure the path to the `retdec-decompiler.py` script in the configuration dialog?

[2018-09-03 06:50] ftk-sostupid commented on #32
@PeterMatula The error is **"Syntax Error"**. It mentioned the error happens in **retdec-utils.py, Line 292**
That line is `print('Error: %s' % error, file=sys.stderr)`. So I am very confused.
And I tried in both 2.7 and 3.6. I got error when I use **Windows cmd** or **Powershell**
I got all things OK in Pycharm. I can run every script smoothly in Pycharm.

[2018-09-03 11:14] PeterMatula commented on #32
@ftk-sostupid That error really looks like you are running it in Python 2. So, can you try the following?

Edit `retdec-decompiler.py` in the RetDec `bin` directory. Add these lines at the start, so it looks like this:
[code]

Then run it in 3.6 as you said you did. Output should look like this:
[code]
If it does look like that and it is still throwing that error, then something really fishy is go

[2018-09-03 13:37] NiceneNerd commented on #32
@PeterMatula No, whether I specify the script path or rely on PATH, it gives me a blank error and then says it's not properly configured.

[2018-09-03 13:39] PeterMatula commented on #32
@NiceneNerd Is the blank error an empty warning like this?
![blank-warning](https://user-images.githubusercontent.com/20342097/44989838-756c0e00-af8f-11e8-8504-39c5aa771a27.png)

[2018-09-03 13:40] NiceneNerd commented on #32
@PeterMatula That's just it.

[2018-09-03 13:47] PeterMatula commented on #32
Ok, tomorrow I will try to publish a new release. Hopefully it will fix most/all problems here. See https://github.com/avast-tl/retdec-idaplugin/issues/29#issuecomment-417363723 for more details + I fixed the empty warning window in `master`.

The empty window was caused by a typo in a warning dialog related to python command execution. It is possible RetDec plugin is unable to execute Python from

[2018-09-03 13:54] ftk-sostupid commented on #32
@PeterMatula I added your code and run. I got result like:
![wv _r8 msww i6pp 6bn](https://user-images.githubusercontent.com/30171892/44990540-e3cac380-afc3-11e8-8ab0-e28615b6f13c.png)
And retdec-decompiler.py is:
![h6nxvxvibr8rk gim rc](https://user-images.githubusercontent.com/30171892/44990355-58513280-afc3-11e8-8855-e0cee4a46e90.png)
And I still got the same blank error and an empty warning li

[2018-09-03 14:13] PeterMatula commented on #32
@ftk-sostupid Well, clearly Python 3.6.5 was not used to execute `retdec-decompiler.py` - Python 2.7.15 was used instead. So you did not try it with Python 3.6 as you wrote above - you only run `python` by itself which gave you 3.6.5.

I have no idea why your system behaves like this (`python` command runs 3.6.5, but script execution runs `2.7.15`), but you need to make sure 3.6.5 is used for `ret

[2018-09-03 14:16] ftk-sostupid commented on #32
@PeterMatula Thanks a lot for your help. It's very nice of you. 👍

[2018-09-03 14:23] NiceneNerd commented on #32
@ftk-sostupid The problem in your case is that Windows doesn't use PATH to determine how to directly execute Python scripts. It uses the general file association system, so in this case the Python 2.7 executable is probably the default handler for `.py` files. The fix is to use Open With to change the default `.py` handler to the Python 3 executable.

[2018-09-03 14:26] ftk-sostupid commented on #32
@NiceneNerd I agreed. I got another problem that my python in IDA is py2...just like:
![0i5 b50 k2awg2 y_kxai0](https://user-images.githubusercontent.com/30171892/44991956-66ee1880-afc8-11e8-8498-2050d6b83d9d.png)

I'm trying to solve this.

[2018-09-03 14:30] PeterMatula commented on #32
IDA comes with built-in Python 2.7, so you don't need to (and you probably can't) change that. RetDec plugin is not using IDA's Python, but a system Python, so all you need to do is configure your system in a way to prefer Python 3. Or you can wait for tomorrow for a new release that will make it possible to chose path to Python interpreter to use.

[2018-09-03 14:32] ftk-sostupid commented on #32
@PeterMatula @NiceneNerd I figure it out totally. Thanks for your both. I have learnt a lot.

[2018-09-04 15:01] PeterMatula commented on #32
Well, the new release will be tomorrow - today I ended up refactoring the user guide generation, plugin version distribution, and automated release package generation - all using pure CMake - and there was no time left to put it to use and generate the release itself.

[2018-09-05 09:38] PeterMatula commented on #32
RetDec IDA plugin version 0.7 is out. It will let you configure the path to Python 3 interpreter. I hope it will solve all the problems here.

Please let me know if it helped, so that I can either close this or fix new problems - if there are any.

[2018-09-05 10:51] NiceneNerd commented on #32
Looks like it works for me now. Many thanks!

[2018-09-05 14:29] JorgeTebruski commented on #32
Now it's working for me, thanks PeterMatula.

[2018-09-06 07:43] #32 closed, assigned to nobody

[2018-09-14 07:59] PeterMatula commented on #12
This issue is even worse I realized. Weird RetDec window jumping is also happening when function renaming action happens. The window gets docked to the right of the current ASM output window. I played around with `set_dock_pos()`, `get_current_widget()`, and `get_current_viewer()`, but so far no luck.

[2018-10-05 05:02] op0x59 opened #34 "Decompilation fails with "Unfinished decompilation was KILLED !!!""
[code]

Pictures of Settings:
[Settings Picture](https://vgy.me/AweNyJ.png)

[2018-10-05 05:06] s3rvac commented on #34
Hi. A couple of questions:
* What IDA version do you use?
* What version of the RetDec IDA plugin do you use?
* What version of RetDec do you use?
* Does it fail for all files that you try to decompile or only for the reported one? If only for the reported one, could you please attach it so we can try to reproduce the issue?

[2018-10-05 05:11] op0x59 commented on #34
- IDA Version: 7.0
- v0.7
- v3.2
- Different error for another test, [Test 2](https://vgy.me/sA4YeO.png)
  No longer produces the "Unfinished decompilation was KILLED !!!" log

Edit: I have fixed my problem, I was missing a file from the original retdec files.

[2018-10-05 05:14] s3rvac commented on #34
Could you please attach the input binaries that you are trying to decompile? You can zip them and upload them here via _Attach files_ in the comment box.

[2018-10-05 05:23] s3rvac commented on #34
Has this fixed both of the problems that you have reported or just the one?

[2018-10-05 06:44] s3rvac commented on #34
Just a guess concerning the originally reported issue: Did you run multiple decompilations at the same time?

[2018-10-05 08:53] op0x59 commented on #34
This has fixed both problems, and yes I did run multiple decompilations at the same time.

[2018-10-05 08:58] s3rvac commented on #34
Unfortunately, the plugin currently does not support multiple simultaneous decompilations. Once you run a second decompilation, the first one gets automatically killed.

I am marking this as closed since the issue was resolved for you.

[2018-10-05 08:58] #34 closed, assigned to nobody

[2018-10-05 12:40] PeterMatula opened #35 "Support multiple simultaneous decompilations"
Right now, only one decompilation can run at a time. When second decompilation is triggered before the first one is finished, the first one gets killed and the second one takes its place.

This could be made better by supporting multiple decompilations at one time. There is no principal problem with this. It is possible to run the decompilation script multiple times at one moment. However, the who

[2018-10-05 12:42] PeterMatula commented on #34
I created an issue to support multiple decompilations - #35. This is however not a priority right now, since it would be quite difficult to implement and we have some serious problems even with a single decompilation.

[2019-01-21 08:30] #11 closed, assigned to nobody

[2019-01-21 08:30] #21 closed, assigned to nobody

[2019-03-20 05:38] perfectswpuboy1 opened #37 "Decompilations fail with "launch_process(...) failed with error code 1""
![ida_CuwbU5pEO4](https://user-images.githubusercontent.com/356742/54661518-7e7c9100-4b15-11e9-86b4-0c0b93f7579b.png)

[2019-03-20 09:00] PeterMatula commented on #37
Can you successfully run RetDec (`retdec-decompiler.py`) from command line - not via IDA?

I.e. gen you try the following:
* `python retdec-decompiler.py --help`
    * In your environment probably something like this (I'm guessing from the paths in that error message, maybe you will have to fix it a little bit):
    `C:\Users\x230\AppData\Local\Programs\Python\Python35-32\python.exe D:\GitHub\retd

[2019-03-20 10:24] perfectswpuboy1 commented on #37
**Running alone looks like there is no problem, but there is an error message, I don't know if it is the reason.**

![ConEmu_MTE0WWw4v0](https://user-images.githubusercontent.com/356742/54677557-18583400-4b3e-11e9-9df4-683fe1cc59e1.png)

![ConEmu_85cOB3NgKJ](https://user-images.githubusercontent.com/356742/54677195-5a34aa80-4b3d-11e9-9de3-d6d11d5caf36.png)
![ConEmu_488FX1Ul39](https://user-images.

[2019-03-20 11:14] perfectswpuboy1 commented on #37
//
// This file was generated by the Retargetable Decompiler
// Website: https://retdec.com
// Copyright (c) 2019 Retargetable Decompiler <info@retdec.com>
//

#include <stdint.h>
#include <stdio.h>

// ------------------- Function Prototypes --------------------

int32_t function_401000(char * a1);

// --------------------- Global Variables ---------------------

char (*g1)[6] = "1>=&1";

// ----

[2019-03-21 11:02] PeterMatula commented on #37
Ok, it looks like RetDec itself is working.
No, that message about not available UPX is not critical and can be ignored.

Now, we will try to determine if something goes wrong with the decompilation itself, or if the problem is in IDA plugin.
Trigger decompilation from IDA plugin - it will fail, but it will generate the needed files (e.g. config file `x86_crackme_hash.idb.json`) and it will show t

[2019-03-21 13:19] perfectswpuboy1 commented on #37
-----------
I've run it manually,seems it's works.So I don't understand why doesn't work in IDA.

![retdec_转](https://user-images.githubusercontent.com/356742/54754661-fda9bc00-4c1e-11e9-8a27-e61b24cfee64.gif)
### If possible, you can use Teamviewer to remotely operate my computer to determine if there is something wrong with my IDA configuration.

[2019-03-22 10:21] s3rvac commented on #37
I have just noticed that the command in the IDA error window is different from the one that you have tried to run manually:

![different-command](https://user-images.githubusercontent.com/5675953/54816335-4a7baa00-4c94-11e9-9f9e-b38d96a410cd.png)

Even the input files are different. Could you please try running the _exact_ same command as in the IDA error window?

Also, could you please provide th

[2019-03-22 17:16] perfectswpuboy1 commented on #37
What version of IDA do you use?   : 7.0
What version of retdec-idaplugin do you use? : v3.3(3.2 the same error)
What version of Windows do you use? :win7 SP1 Ultimate
![ret-dec-_jq_转](https://user-images.githubusercontent.com/356742/54840955-20b09a80-4d09-11e9-8415-283fdbb71bd1.gif)
I noticed that there is no .c file output.
![explorer_Z6j1KHO9Wf](https://user-images.githubusercontent.com/356742/5

[2019-03-23 12:30] fubuki8087 commented on #37
It seems that this problem is caused by Chinese character. When the file you reverse is put in the path that has Chinese character, it raises this error. I meet the same problem, but if I move the file to English path, it works.

[2019-03-23 13:26] perfectswpuboy1 commented on #37
Thank for replay,But there is absoluty English Path.

[2019-03-30 03:34] jibanes opened #38 "retdec-idaplugin fails to start on ida pro 7.2"
I select a function, activate the plugin, I see on the console (linux-x86_64, idapro 7.2)
$ ida64
[code]
The GUI seems to be frozen, no refresh, the only option is to ctrl-c.

I have retdec-decompiler.py in the PATH; along with retdec-3.3 installed at usual places.

[2019-03-30 03:38] #38 closed, assigned to nobody

[2019-03-30 06:49] s3rvac commented on #38
Hi. Since you have closed the issue, we assume that you have fixed the problem. Can you please write what you have done to fix it? It may be helpful to other users in the future.

[2019-03-30 14:11] jibanes commented on #38
I was missing pygments.

[2019-06-25 02:59] mendax47 opened #40 "Decompilation error"
Having This Problem For A 64bit PE File

![image](https://user-images.githubusercontent.com/6140928/60067483-96733a80-972c-11e9-80d4-6daf0a070896.png)

![image](https://user-images.githubusercontent.com/6140928/60065912-3ded6e80-9727-11e9-8e40-87a58fdfe8c6.png)

Hexray Looks Fine:
![image](https://user-images.githubusercontent.com/6140928/60065995-8dcc3580-9727-11e9-96f9-6b44d8b4a4b0.png)

On The

[2019-06-25 05:05] s3rvac commented on #40
(I have moved this issue from [avast/retdec](https://github.com/avast/retdec) to [avast/retdec-idaplugin](https://github.com/avast/retdec-idaplugin) as the issue concerns our IDA plugin.)

[2019-06-25 16:10] silverbacknet commented on #40
I'd run the exact commandline in the error message in a command window and see what it tells you and when it fails, hopefully the dialog allows you to just ctrl-c to copy it (standard ones do). Watch the memory usage, as well.

[2019-07-01 07:58] PeterMatula commented on #40
@mendax47 can you try what @silverbacknet suggested?

[2019-07-12 05:19] GregoryMorse opened #41 "Thread handle leaks/process handle issue"
A thread handle leaks every decompilation since the PROCESS_INFORMATION structure has an hThread member which needs to have CloseHandle called on it immediately with every run (defs.cpp, runCommand).

The process handle cannot be closed (or the termination cannot be monitored as PIDs are reused on Windows and cannot be guaranteed) and must be saved and closed in the same way and at the same time a

[2019-07-12 05:29] s3rvac commented on #41
Thank you for the report. @PeterMatula, can you please verify?

[2019-07-12 22:47] GregoryMorse commented on #41
I have submitted a PR for this if you prefer.  Please refer to #42

Update: both current and child process thread handle leaks I verified (the latter being Windows only).  The process handle only leaks on a forcible process termination since IDAs term_process API must be used here.

[2019-07-15 15:28] MrRtcl opened #43 "Could ida for macOS use it ?"
I use ida for macOS and I installed this plugin with the user_guide.pdf. I also installed retdec,but now I can't use it in IDA....There is no plugin in my tool

[2019-07-15 15:30] MrRtcl commented on #43
It seems like the plugin wasn't loaded

[2019-07-15 16:11] #43 closed, assigned to nobody

[2019-07-16 04:17] s3rvac commented on #43
Hi. Since you have closed the issue, we assume that you have been able to resolve it by yourself. For future reference, can you please describe what you have done to fix it? It may be useful to someone else who stumbles upon it in the future.

[2019-07-23 19:42] GregoryMorse commented on #41
I would also point out that this bug exists in all of the qthread_create's documented as needed for a crash issue with relaunching the code viewer (4 times in code_viewer.cpp and once in idaplugin.cpp).

I have tested removing the threads and just launching it from the main thread and it works completely fine.  I have no idea what environment or situation led to thinking there is a crash.  This wo

[2019-08-07 08:01] PeterMatula commented on #41
Fixed by merging #42.

[2019-08-07 08:01] #41 closed, assigned to PeterMatula

[2019-08-08 19:34] GregoryMorse opened #45 "Ida 5.x/6.x support"
Any reason not to create a bunch of macros dealing with the porting to 7.x and allow continued backward compatibility to 5.x/6.x?

I can submit a PR with the change if its worth it.  Mostly just a big conditional compilation blob in defs.h would do the trick, and a small handful of occurrences where class member calls need to be replaced by regular function calls to allow generality.  I am not sur

[2019-08-11 05:12] mendax47 commented on #40
##### Checking if file is a Mach-O Universal static library...

##### Checking if file is an archive...
RUN: D:\retdec\bin\retdec-ar-extractor C:\Users\***\Desktop\Test\GGDEMO\GGDEMO.exe --arch-magic
Not an archive, going to the next step.

##### Gathering file information...
RUN: D:\retdec\bin\retdec-fileinfo -c C:\Users\***\Desktop\Test\GGDEMO\GGDEMO.exe.json --similarity C:\Users\Mendax47\Deskt

[2019-08-21 16:21] s3rvac commented on #45
@PeterMatula What do you think about this?

[2019-08-26 15:48] ghost opened #47 "RetDec requires Python 3 while IDA requires Python 2.7"
This decompiler conflict with IDA, IDA need 2.7 python, RETDEC need non 2.7 python....
Please add support python 2.7 version :(

[2019-08-26 15:52] metthal commented on #47
You'll have to install Python 3 in order to use retdec. We have no interest in adding support for Python 2. End of life for Python 2 is [near](https://pythonclock.org/). We suggest you to contact IDA developers to update to Python 3 :)

If you have any further questions, don't hesitate to ask us.

[2019-08-27 06:03] #47 closed, assigned to nobody

[2019-08-28 08:33] PeterMatula commented on #43
If you used pre-compiled packages from [Releases](https://github.com/avast/retdec-idaplugin/releases), they will most certainly not work in macOS. You can try to build the sources yourself, but we do not guarantee it will work. Explanation:
https://github.com/avast/retdec-idaplugin#installation-and-use

[2019-08-28 08:46] PeterMatula commented on #45
Well, it could be done, but the answer to _Any reason not to create a bunch of macros_  is:
* _a bunch of macros_
* _a big conditional compilation blob_

@ladislav-zezula have some IDA plugins like this, but when he suggested I could do the same, I said: _HELL NO_. I'm afraid of increased code complexity, i.e. more time and trouble of moving forward. Also, more trouble with potential issues - we d

[2019-08-28 09:12] ladislav-zezula commented on #45
Most problematic for maintaining backward compatibility in IDA is that Hex-Rays doesn't really keep the API backward compatible. API names change, API parameters change, also the layout of the structures change.

Basically the only way to deal with it is to create a wrapper module for each IDA version with API incompatible with the other versions. I've been maintaining a debugger plugin for IDA 6.

[2019-09-06 07:02] s3rvac commented on #40
@mendax47 Would it be possible for you to share the input binary file (`GGDEMO.exe`) with us? Also, how much RAM do you have?

@PeterMatula Can you please take a look at the output above? Although there is no error message, it seems as if `retdec-bin2llvmir` crashed in phase `Input binary to LLVM IR decoding`.

[2019-09-16 08:57] PeterMatula opened #48 "Use RetDec's JSON output for syntax highlighting"
Right now, IDA plugin runs RetDec with `--color-for-ida` option to get a highlighted C output that it displays to users.

This option will be dropped in the next RetDec release. Instead, RetDec will be able to generate a [JSON C output](https://github.com/avast/retdec/wiki/Decompiler-outputs), which should be used instead.

[2019-09-16 11:24] PeterMatula opened #49 "Use RetDec's JSON output for ASM <-> C mapping"
The new RetDec [JSON C output](https://github.com/avast/retdec/wiki/Decompiler-outputs) contains info on token assembly addresses.

Use this info for ASM <-> C code association - what HexRays does with `Tab`.

[2019-09-16 11:54] PeterMatula opened #50 "Propagate modified binary data to RetDec for decompilation"
Currently, IDA plugin passes the original binary file to RetDec for decompilation. This has several problems:

1.  If user modifies the binary, modification is done on a loaded image inside IDA - the original binary is not modified. Therefore, RetDec decompiles the original, not the modified version - modification is not reflected in the output.
2.  If input file gets rebased, RetDec decompiles so

[2019-09-16 12:09] PeterMatula opened #51 "Create a GIF showcasing the plugin and use it in README.md"

[2019-09-18 11:41] #12 closed, assigned to nobody

[2019-09-18 11:46] PeterMatula commented on #12
Getting a `get_current_widget()` when decompilation is triggered and `activate_widget()` it before `display_widget()` of decompilation result works, but the problem is if the widget that was taken is closed in the meantime. That will cause segfault.

Simple solution is to use `jumpto(decompiled_function->start_ea)` before showing the function. This should be always safe and it should take care of

[2019-10-04 04:21] op0x59 commented on #48
i dont even get syntax highlighting https://i.imgur.com/0zq2Rwk.png

[2019-10-04 04:40] s3rvac commented on #48
@op0x59 Ensure that you have [pygments](http://pygments.org/) installed in your system, as described in the [user guide](https://github.com/avast/retdec-idaplugin/raw/master/doc/user_guide/user_guide.pdf):

![ida-plugin-docs-pygments](https://user-images.githubusercontent.com/5675953/66181593-b2fb0900-e671-11e9-9ce7-e8a259561717.png)

This library is used for syntax highlighting. You can install i

[2019-10-26 23:41] ghost commented on #32
The bug is now back, with IDA Pro 7.2 and all supported versions of Python.

[2019-11-06 13:01] trsh opened #52 "Error when adding plugin to IDA Freeware 7.0"
LoadLibrary(C:\Program Files\IDA Freeware 7.0\plugins\retdec64.dll) error: The specified procedure could not be found.
C:\Program Files\IDA Freeware 7.0\plugins\retdec64.dll: can't load file

[2019-11-06 13:06] s3rvac commented on #52
[README](https://github.com/avast/retdec-idaplugin#retdec-ida-plugin) clearly states that

For a list of issues with the freeware version of IDA 7.0, see #22.

[2019-11-06 13:07] trsh commented on #52
Sorry

[2019-11-06 13:07] #52 closed, assigned to nobody

[2019-11-12 12:08] alexander-pick opened #53 "Compile Errors with IDA 7.4 SDK"
I was trying to compile the plugin for IDA 7.4 and got multiple errors:

"inf" is not declared
"WOPN_TAB" is not declared
"display_widget"is not accepting a single param

If required I can attach a build log but it is german.

[2019-11-12 13:07] alexander-pick commented on #53
WOPN_TAB and the display_widget error can be solved by changing line 124 of code_viewer.h to

[code]

The inf thing seems to be more complicated, I had top add to "idaplugin/defs.h".

[code]

This gave me some new errors, is_32bit and is_64bit are missing. This can be fixed by changing line 407 and 534 in idaplugin.cpp. You need to replace

[code]
with
[code]

After these changes the plugin compil

[2019-11-20 13:42] s3rvac commented on #53
@PeterMatula Could you please take a look?

[2019-12-22 05:42] s3rvac commented on #32
@kazblox Please, open a [new ticket](https://github.com/avast/retdec-idaplugin/issues/new) if the issue still persists for you.

[2020-01-02 11:07] alexander-pick commented on #53
I submitted a pull request with the fixes.

[2020-01-02 13:53] s3rvac commented on #53
Thanks! @PeterMatula will review the PR (#54).

[2020-01-07 09:23] s3rvac commented on #53
Fixed in #54, closing.

[2020-01-07 09:23] #53 closed, assigned to PeterMatula

[2020-03-02 12:25] securebluefox commented on #29
I want to know how to solve this problem, I still get this error.
![](http://img.lhyerror404.cn/error404/2020-03-02-122341.png)
![](http://img.lhyerror404.cn/error404/2020-03-02-122445.png)
My system is Mac os 10.15

[2020-03-03 04:18] s3rvac commented on #29
@hebtuerror404 Please, create a [new issue](https://github.com/avast/retdec-idaplugin/issues/new) as this one is closed and very old. Also, attach please the input file and the out from IDA's console.

[2020-03-03 07:47] securebluefox opened #56 "Loading of output C file FAILED on Mac"
I tried to build and run the plugin on my Mac. Plugin load seems okay but when I tried to ^D on a function, I still get the error as #29 :
![](http://img.lhyerror404.cn/error404/2020-03-02-122341.png)
The out from IDA's console is
![](http://img.lhyerror404.cn/error404/2020-03-02-122445.png)
from the #29 I can't find any solution。
By the way, I used the latest code to build。
I use this [file](http

[2020-03-03 07:51] securebluefox commented on #56
Sorry, I forgot to explain my system information , it is ：
OS version：macOS Catalina 10.15.3
IDA SDK version：7.0
IDA version：7.0

[2020-04-01 09:11] chago opened #57 "Can help compile a mac version, A Mac IDA7.0 is here"
https://pan.baidu.com/s/1z_qPUuPWJqVkrEwtYhSKPA Extraction: ugd4

[2020-04-03 10:28] PeterMatula commented on #57
1. That link is not working for me - I don't see anything useful.
2. I don't think I will be much help, I don't have IDA for macOS.

[2020-04-03 10:30] #57 closed, assigned to nobody

[2020-04-03 10:31] chago commented on #57
OK

[2020-04-03 10:32] PeterMatula commented on #57
Well, if you paste here error log, or describe your problem in more detail, I can try to help. But right now you provided no useful info.

[2020-04-03 10:45] PeterMatula commented on #57
Oh, now I get it. I need to put that `ugd4` code to the prompt to see the content. I thought the link is not working.

However, I was expecting a failed compilation log or something, not a macOS version of IDA. I cannot use that to build macOS version of this plugin because it is against IDA license. You will have to try yourself.

[2020-04-08 08:44] alt-fox opened #58 "retdec 4.0 unrecognized arguments"
New version retdec don't have option **--color-for-ida**

![image](https://user-images.githubusercontent.com/32519709/78763592-01c18c80-798e-11ea-82b9-21cafc3d988d.png)
and
![image](https://user-images.githubusercontent.com/32519709/78763720-30d7fe00-798e-11ea-82bf-f97fc065dde3.png)

[2020-04-08 08:46] alt-fox commented on #58
I have already found a discussion of this error:
https://github.com/avast/retdec-idaplugin/issues/48

[2020-04-08 09:37] PeterMatula commented on #58
You are probably using IDA plugin `v0.9` with RetDec `v4.0`. IDA plugins are always fixed to some concrete version of RetDec. In this case to `v3.3`. You cannot use it with `v4.0`.

Option `--color-for-ida` is gone and won't be back. The upcoming IDA plugin version `v1.0` will work with RetDec `v4.0`, won't need `--color-for-ida`, and will have plenty of other cool features - I made a huge progres

[2020-04-08 18:04] danyhm opened #59 "lauch_process ... failed with error code 2"
Hello,
I installed retdec and IDA plugin. I get this error when i press Ctrl+D
![error](https://user-images.githubusercontent.com/21024667/78814235-8db1d380-79e3-11ea-8f2b-37e20645f547.png)

![error2](https://user-images.githubusercontent.com/21024667/78814246-90142d80-79e3-11ea-80d8-203574bd93b8.png)

I installed python 3.8.2 and retdec v4 with IDA plugin 0.9
my OS is windows 7
I ran retdec-decom

[2020-04-08 18:15] PeterMatula commented on #59
Yeah, you will have to wait for a few days to use RetDec v4.0 in IDA plugin. See #58 and #48.

[2020-04-08 18:15] danyhm commented on #59
update :
I tried running the command that the plugin runs from IDA and noticed there's no option `--color-for-ida` in the help of retdec-decompiler.py

[2020-04-08 18:16] danyhm commented on #59
@PeterMatula oh ok thanks !

[2020-04-08 18:23] PeterMatula commented on #59
Looks like it will be a good idea to add some version compatibility check into the plugin - I will do that for `v1.0`.

I will leave this open unit this incompatibility is fixed with the new plugin version - so that it is more visible for others.

[2020-04-08 18:23] PeterMatula commented on #58
I will leave this open unit this incompatibility is fixed with the new plugin version - so that it is more visible for others.

[2020-04-28 02:11] ishroudd opened #60 "launch_process(...) failed with error code 1"
IDA Version : 7.0
retdec-idaplugin version : v0.9
retdec version: v3.3
Windows version: 10

I get the following errors trying to run a decompile:

![Error](https://user-images.githubusercontent.com/41129603/80437622-e5db4780-88b6-11ea-985c-8905109ae2b9.png)
![Error2](https://user-images.githubusercontent.com/41129603/80437628-e83da180-88b6-11ea-93de-4b01d27fdf0a.png)

Running the command given in

[2020-05-04 13:50] PeterMatula commented on #59
In the end, the new plugin will be release right after IDA 7.5 is released - there is some bug in 7.3 and 7.4 that makes the plugin crash. It will be fixed in 7.5.

[2020-05-04 13:50] PeterMatula commented on #58
In the end, the new plugin will be release right after IDA 7.5 is released - there is some bug in 7.3 and 7.4 that makes the plugin crash. It will be fixed in 7.5.

[2020-05-04 13:54] PeterMatula commented on #60
Thanks for the report. I started work on using RetDec as a library. It is going well. The next plugin release will not launch processes, etc. It will be self-contained and these kinds of problems should be non-existent.

[2020-05-10 17:20] Jirubizu opened #61 "retdec not loading"
I am unsure what you would like me to provide in terms of logs. However, the plugin loaded one time and after a restart it did not load at all. It doesnt recognise any of the keybindings nor do I find any reference of the plugin anywhere in IDA.

Not sure for the cause

[2020-05-18 07:26] PeterMatula commented on #61
1. Did it work the first time?
2. Is the plugin still in the IDA plugin directory?
3. Did you update IDA or something like that?

[2020-05-20 08:21] PavelKotov1 commented on #60
Hello, dear friends!
I am not sure if my issue is similar to the one discussed here so I apologize in advance for possibly misplacing my question.
When I run:
C:\Users\root\AppData\Local\Programs\Python\Python38\python.exe D:\retDEC_v3.2\scripts\retdec-decompiler.py --help
everything works just fine, but
C:\Users\root\AppData\Local\Programs\Python\Python38\python.exe D:\retDEC_v3.2\scripts\retdec-

[2020-06-06 04:05] leibo-hust opened #62 "How to compile the c file generated by retdec-idaplugin?"
Hi, I can successfully use the this plugin to generate `c` files, but how to compile this c file to regenerate the executable file? I directly use the **`gcc hello.exe.c -o hello-d`** command, but it doesn't seem to work. What parameters should be added? Thank you

[2020-06-08 07:51] PeterMatula commented on #62
Hi, RetDec's output is not really meant for re-compilation. It aims to produce C code that could be analyzed by human reverse engineers. It is very hard to decompile a binary into a C source code that:
1. could be compiled without errors
2. would do the same thing as the original binary

Although RetDec sometimes may produce an output where this is possible, most of the times it does not. If by an

[2020-06-08 07:51] #62 closed, assigned to nobody

[2020-06-15 06:30] PeterMatula commented on #22
This will no longer be possible. The new plugin version 1.0 will require IDA 7.5+ and IDA SDK 7.5.

[2020-06-15 06:30] #22 closed, assigned to nobody

[2020-06-15 06:33] PeterMatula commented on #45
This is no longer possible, the new plugin version 1.0 will require IDA SDK 7.5.

[2020-06-15 06:33] #45 closed, assigned to nobody

[2020-06-15 07:56] PeterMatula commented on #8
Fixed in 3503eb67760f7ab3ca42ff89ea484e9395604d88. Release v1.0 will come shortly.

[2020-06-15 07:56] #8 closed, assigned to PeterMatula

[2020-06-15 07:56] PeterMatula commented on #48
Fixed in 3503eb67760f7ab3ca42ff89ea484e9395604d88. Release v1.0 will come shortly.

[2020-06-15 07:56] #48 closed, assigned to PeterMatula

[2020-06-15 07:57] PeterMatula commented on #49
Fixed in 3503eb67760f7ab3ca42ff89ea484e9395604d88. Release v1.0 will come shortly.

[2020-06-15 07:57] #49 closed, assigned to PeterMatula

[2020-06-15 07:57] PeterMatula commented on #60
After 3503eb67760f7ab3ca42ff89ea484e9395604d88, plugin no longer uses `launch_process`. Release v1.0 will come shortly.

[2020-06-15 07:57] #60 closed, assigned to nobody

[2020-06-15 07:57] PeterMatula commented on #59
After 3503eb67760f7ab3ca42ff89ea484e9395604d88, plugin no longer uses `launch_process`. Release v1.0 will come shortly.

[2020-06-15 07:57] #59 closed, assigned to PeterMatula

[2020-06-15 07:58] PeterMatula commented on #40
After 3503eb67760f7ab3ca42ff89ea484e9395604d88, plugin no longer uses `launch_process`. Release v1.0 will come shortly.

[2020-06-15 07:58] #40 closed, assigned to nobody

[2020-06-15 07:58] PeterMatula commented on #58
Fixed in 3503eb67760f7ab3ca42ff89ea484e9395604d88. Release v1.0 will come shortly.

[2020-06-15 07:58] #58 closed, assigned to nobody

[2020-06-15 07:59] PeterMatula commented on #37
After 3503eb6, plugin no longer uses launch_process. Release v1.0 will come shortly.

[2020-06-15 07:59] #37 closed, assigned to nobody

[2020-08-26 03:16] BigJim opened #64 "Default invocation broken for 32bit targets"
The default plugin invocation (run = 0) works fine for 64bit windows executable targets, but 32bit plugin invokes the (run = 1) function always. Asks for a file to decompile and if I give it a reference file to decompile it keeps asking for a file again if I click on any address in the decompile window.

This is using IDA for Windows 7.5.200728

[2020-08-27 10:58] PeterMatula commented on #64
This is strange:
* I'm unable to reproduce it on my system with IDA 7.5.200728.
* Both 32 and 64 bit versions are built and packaged at once, from the same source code. So I don't know what could have happened.

Can you make sure, there is no old RetDec-related configuration in `plugins/plugins.cfg`? Although, it should be applied to both `ida` and `ida64`. But anyway, if there is, remove everythi

[2020-08-31 02:17] Naville opened #65 "Compilation failed during configure-msvc step for yara"
[code]

The Chinese error message roughly translates to ``Filename, directory name or drive label's syntax is incorrect``. I was using Ninja generator

[2020-09-30 09:54] HongThatCong opened #66 "Build with old SDK"
Thank you very much for a very good decompiler.

[2020-09-30 21:45] #66 closed, assigned to nobody

[2020-11-01 20:01] erazor-de commented on #64
I can confirm this different behaviour for ida and ida64 7.5.201028 on Linux. I compiled retdec-idaplugin from source and have nothing related in plugins/plugins.cfg.

[2020-11-02 18:34] erazor-de commented on #64
My problem arises when getInputPath() can't find the source that was used creating the IDA database. It seems it searches the original path stored in the database and the actual path. In my case I tried a database created by a gdb remote debugging session with ida and a regular executable on disk with ida64. Hence my confusion.
Does retdec need the source file? Can't it take the binary data out of

[2020-11-28 09:29] galaxyhaxz opened #67 "Continued support for IDA 7.2-7.4"
Most people aren't gifted with the privilege of working a nice cozy tech job in security where their employer just so happens to buy them the latest version of IDA. Most people work crappy jobs with crappy pay and getting the latest IDA is out of reach/impossible.

Therefore, would be nice to support older versions for a little bit longer. Not sure if it's as simple as compiling against an older S

[2020-11-28 14:56] paxcut commented on #67
You are right about being able to afford the latest IDA version. Getting this plugin to work on IDA 7.0-7.4 is doable, but you can't expect the latest version of the plugin, as it uses features that are exclusive to IDA 7.5.
If you don't mind using an earlier version get  0.9 and retdec 3.3 and that should work fine on the targeted IDA versions. I got it to work but I had to make some changes to t

[2020-11-28 15:17] galaxyhaxz commented on #67
Agreed, the joys of git and modern day source code control. I'll look into it. I'm not in dire straits or anything, as I have ghidra to fallback on but it's decompiler (mips and ppc) are still quite in their infancy, so having something to compare against would save time of manually reversing functions. Given the project I'm working on is reversing code to recompile it ;)

[2020-11-28 16:28] #67 closed, assigned to nobody

[2021-01-22 10:40] PeterMatula commented on #65
I don't think we tried Ninja on WIndows. I don't think it would work. Can you build it using the commands from [here](https://github.com/avast/retdec-idaplugin#build-and-installation) (e.g. in Windows Developer Command Prompt)?

[2021-01-22 10:42] PeterMatula commented on #56
Issue is no longer valid. [v1.0](https://github.com/avast/retdec-idaplugin/releases/tag/v1.0) does not use Python and works only in IDA 7.5 with SDK 7.5.

[2021-01-22 10:42] #56 closed, assigned to nobody

[2021-01-22 10:43] PeterMatula commented on #61
No reaction -> closing.
Moreover, the issue is probably no longer valid since the release of [v1.0](https://github.com/avast/retdec-idaplugin/releases/tag/v1.0).

[2021-01-22 10:43] #61 closed, assigned to nobody

[2022-01-17 04:57] #65 closed, assigned to nobody

[2022-01-18 04:11] Naville opened #68 "Please support IDA 7.7"
Hey:

I had to apply a bunch of patches for it to even compiles with IDA7.7, which you can use as a reference [here](https://github.com/Naville/retdec-idaplugin)

Although, getting its functionality to work (which broke for some reason) is beyond me

[2022-03-09 14:50] hugmyndakassi commented on #68
At least your replacement of `inf_is_32bit` is wrong. It should now be `inf_is_32bit_or_higher()`. Please check out the comment above its definition:

[code]

Not sure if it would fix the issue, though.

A cursory look at the IDA 7.5 SDK shows that `CM_CC_GOLANG` used to be called `CM_CC_RESERVE4`. So this could be addressed at the preprocessor level. But it would have been nice to keep the old na

[2022-03-09 15:10] hugmyndakassi commented on #68
The _original_ code [here](https://github.com/Naville/retdec-idaplugin/commit/cd055722a3e6dd7c654ae485fd84c2c7ebbdfd02#diff-9e21a66f330197f056ef2731f125f640918dea598826d60ea08f7d242ace11faL103) amounts to:

[code]

... because the address of `inf_is_64bit` and `inf_is_32bit` will be non-null. This is very very strange code indeed and likely not the intention of the author. Probably not covered by

[2022-05-02 14:45] angrygoats commented on #68
Seconding in case the authors are monitoring issues. Would like to see IDA 7.7 officially support. Will try this patch later today. Thank you @hugmyndakassi

[2022-08-05 11:51] nkAlex commented on #68
Hey,
Could anyone please also share the fixed compiled binaries?

[2022-08-05 14:14] PeterMatula commented on #68
I will try to find time next week to update the sources to the latest IDA and do the release.

[2022-08-24 09:32] PeterMatula commented on #68
Thanks, @hugmyndakassi I looked into it and your changes are pretty much all that's needed to get it to work - I didn't encounter new problems that wouldn't be there before. I will try to do the binary release as soon as I get a colleague with a Windows IDA license.

While I'm at it, I will also try to get it to work on IDA 8.0 but we will see how big of a problem it will be.

[2022-08-24 13:38] PeterMatula commented on #68
Looks like 8.0 compiles and works with the code for 7.7. But again, I will have to get my hands on the Windows license (and Windows, and MSVC :-D) to make the pre-built package.

[2022-08-30 15:12] PeterMatula commented on #68
Two more releases done: [v1.0-ida77](https://github.com/avast/retdec-idaplugin/releases/tag/v1.0-ida77) and [v1.0-ida80](https://github.com/avast/retdec-idaplugin/releases/tag/v1.0-ida80).

[2022-08-30 15:12] #68 closed, assigned to nobody

[2022-08-30 15:30] gjf opened #69 "The compiled version from release doees not work"
IDA 7.7 SP1 output when started:
LoadLibrary(..\Program Files\Analysis\HEX\IDA\IDA 77SP1\plugins\retdec64.dll) error: Cannot find a module
..\Program Files\Analysis\HEX\IDA\IDA 77SP1\plugins\retdec64.dll: can't load file

[2022-08-31 08:38] PeterMatula commented on #69
Well, I don't have an IDA 7.7, I tested only 8.0, and only on my local machine which built the libs so it is not super reliable to check it will work everywhere.

But after your issue, I tried to use 7.7 build in my 8.0 IDA and it worked, so it cannot (shouldn't?) be completely bad. I'm thinking some differences in OS environment:
* I'm using Windows 11, what do you use?
* In these new builds I fo

[2022-08-31 11:07] gjf commented on #69
Thanks or a prompt reaction.

Yes you were right: copying libcrypto-3-x64.dll into IDA folder solved the problem. However Win64OpenSSL_Light-3_0_5 was installed in the system and included in PATH variables so no idea what was wrong.

Anyway the problem is solved now, thank you. I really think OpenSSL 3 requirements should be also included in installation manual...

[2022-08-31 11:16] PeterMatula commented on #69
Thanks for trying it and getting back. I will make sure this requirement is well visible.

[2022-09-01 13:51] PeterMatula commented on #69
I mentioned OpenSSL in the user guide and updated the releases. I also mentioned it in the release description and Readme.

[2022-09-01 13:51] #69 closed, assigned to nobody

[2022-09-07 11:32] flyingbird opened #70 "Unable to parse decompilation output: The document is empty."
When I use Ctrl+D, It says Unable to parse decompilation output: The document is empty.
<img width="577" alt="iShot_2022-09-07_19 29 31" src="https://user-images.githubusercontent.com/1467920/188868361-8f5afd45-8e55-42f7-a280-715d3dfa5663.png">

[2022-09-07 13:55] flyingbird commented on #70
I can see:[RetDec info]   :	RetDec version 1.0-ida80 loaded OK
I pressed Ctrl+D after "The initial autoanalysis has been finished."
but it still says "Unable to parse decompilation output: The document is empty."

[2022-09-09 01:33] flyingbird commented on #70
I think it lacks of some files for working on mac.
<img width="341" alt="image" src="https://user-images.githubusercontent.com/1467920/189253590-849353a0-3f16-4f3c-9103-b068fdcbe8c9.png">

[2022-09-12 06:51] PeterMatula commented on #70
Sorry, I don't own a mac machine and don't have an IDA license for it either. So, I have never tried the plugin on mac and I don't know if it works.

Going just by the message, it is from RetDec IDA plugin, not the RetDec itself, and the `The document is empty` is a RapidJSON's parsing error message. It looks like the decompilation either failed entirely or passed but generated an empty result.
*

[2022-09-12 08:05] flyingbird commented on #70
1. Can not decompile anything.
2. Build by myself.
3. I'll try it later.

[2022-09-12 08:20] flyingbird commented on #70
I download retdec-v4.0-macos-64b.tar.xz
try run the command:
./retdec-decompiler.py ~/Desktop/test
report errors as below:
Error: failed to limit maximal memory to half of system RAM
Error: Decompilation to LLVM IR failed

[2022-09-15 10:20] Naville opened #71 "Build failures on macOS"
[code]

I think we need to add ``#define USE_DANGEROUS_FUNCTIONS 1`` before including IDA SDK's ``pro.h``?

[2022-09-15 10:21] Naville commented on #71
I personally just commented out the part of IDA's pro.h that redefines snprintf, which brings us to the next problem:

[code]

On Darwin it's ``arm64_mac_clang_64`` or ``x64_mac_clang_64``

[2022-09-15 10:32] Naville commented on #71
Created a patch that at least works for me on M1 Mac with IDA SDK 8.0 https://gist.github.com/Naville/d2c3127fc5c07ae730645305e10bab96

@PeterMatula Please check

[2022-09-15 10:33] Naville commented on #71
[built.zip](https://github.com/avast/retdec-idaplugin/files/9574373/built.zip)
M1 version of the plugins